:root {
  --book-width: 700px;
  --book-height: calc(var(--book-width) * 1);
  --book-depth: 10px;
  --book-ratio: 500/730;
  --book-animation-time: 2s;
}

.book {
  width: calc(var(--book-width) / 2);
  aspect-ratio: calc(var(--book-ratio));
  position:relative;
  perspective: 100vw;
  perspective-origin: 75%;
  transform-style: preserve-3d;
  margin: auto;
  transition: transform var(--book-animation-time), perspective var(--book-animation-time), perspective-origin var(--book-animation-time);
}

.book.selected {
  perspective: 1000vw;
  perspective-origin: center;
}

.book.selected-last {
  perspective-origin: 25%;
  perspective: 100vw;
  /* transform: translateX(25%); */
}

.pages {
  width: calc(1 * var(--book-width));
  max-width: var(--book-width);
  aspect-ratio: calc(var(--book-ratio) * 2);
  transform-style: preserve-3d;
  transform-origin: center;
  backface-visibility: hidden;
  pointer-events: none;

  position: absolute;
  top: 0;
  left: -100%;
}

.pages-closed {
  transform: rotateX(15deg);
  transition: transform var(--book-animation-time);
}

.pages:not(.pages-closed) {
  transform: rotateX(15deg) translateX(25%);
  transition: transform var(--book-animation-time);
}

.book.selected-last .pages.pages-closed {
  transform: rotateX(15deg) translateX(50%);
  transition: transform var(--book-animation-time);
}

.book.selected .pages {

}

.book .book-page {
  float: none;
  clear: none;
  position: absolute;
  transform-origin: 0 0;
  transition: transform var(--book-animation-time), opacity var(--book-animation-time);
  backface-visibility: hidden;
  transform-style: preserve-3d;
  cursor: pointer;
  user-select: none;
  background-color: #909090 !important;
  top: 0;
  width: calc(var(--book-width) / 2);
  height: 100%;
  background: left top no-repeat;
  background-size: cover;
  overflow: hidden;
  pointer-events: all;
}

.book .book-page:first-child, .book .book-page {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  outline: 1px solid transparent;
}

.book .book-page:nth-child(odd) {
  pointer-events: all;
  transform: rotateY(0deg);
  right: 0;
  border-radius: 0 4px 4px 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, .15) 0%, rgba(0, 0, 0, 0) 10%);
}

.book .book-page:nth-child(even) {
  pointer-events: none;
  transform: rotateY(180deg);
  transform-origin: 100% 0;
  left: 0;
  border-radius: 4px 0 0 4px;
  border-color: black;
  background-image: linear-gradient(to left, rgba(0, 0, 0, .12) 0%, rgba(0, 0, 0, 0) 10%);
}

.book .book-page.flipped:nth-child(odd) {
  pointer-events: none;
  transform: rotateY(-180deg);
}

.book .book-page.flipped:nth-child(even) {
  pointer-events: all;
  transform: rotateY(0deg);
}

*,
* :before,
*:after {
  box-sizing: border-box;
  backface-visibility: visible;
}

.book-page:nth-child(odd) {
  background-position: right top;
}