:root {
  --book-aspect-ratio: calc(980 / 1430);
  --book-depth: 10px;
  --book-animation-time: 1.2s;
}

.book {
  height: 98vh;
  width: calc(var(--book-aspect-ratio) * 100vh);
  position: relative;
  perspective: 300vw;
  perspective-origin: 75%;
  transform-style: preserve-3d;
  scale: .6;
  top: 0;
  transition: 
    transform var(--book-animation-time), 
    perspective var(--book-animation-time), 
    perspective-origin var(--book-animation-time),
    scale var(--book-animation-time),
    top var(--book-animation-time);
  pointer-events: none;
}

.book.selected {
  perspective: 1000vw;
  perspective-origin: center;
  scale: 1;
  /* top: -60px; */
}

.book.selected-last {
  perspective-origin: 25%;
  perspective: 100vw;
  scale: 1;
  /* transform: translateX(25%); */
}

.pages {
  width: calc(var(--book-aspect-ratio) * 98vh * 2);
  height: 100%;
  transform-style: preserve-3d;
  transform-origin: center;
  backface-visibility: hidden;
  pointer-events: none;

  position: absolute;
  top: 0;
  left: -100%;

  /* transition: top var(--book-animation-time); */
}

.book.selected .pages {
  /* top: 50px; */
}

.pages-closed {
  transform: rotateX(15deg);
  transition: transform var(--book-animation-time);
}

.pages:not(.pages-closed) {
  transform: rotateX(15deg) translateX(25%);
  transition: transform var(--book-animation-time);
}

.book.selected-last .pages.pages-closed {
  transform: rotateX(15deg) translateX(50%);
  transition: transform var(--book-animation-time);
}

.book .book-page {
  float: none;
  clear: none;
  position: absolute;
  transform-origin: 0 0;
  transition: transform var(--book-animation-time), opacity var(--book-animation-time);
  backface-visibility: hidden;
  transform-style: preserve-3d;
  cursor: pointer;
  user-select: none;
  background-color: #909090 !important;
  top: 0;
  width: calc(var(--book-aspect-ratio) * 98vh);
  height: 100%;
  background: left top no-repeat;
  background-size: cover;
  overflow: hidden;
  pointer-events: all;
}

.book .book-page:first-child, .book .book-page {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  outline: 1px solid transparent;
}

.book .book-page:nth-child(odd) {
  pointer-events: all;
  transform: rotateY(0deg);
  right: 0;
  border-radius: 0 4px 4px 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, .15) 0%, rgba(0, 0, 0, 0) 10%);
}

.book .book-page:nth-child(even) {
  pointer-events: none;
  transform: rotateY(180deg);
  transform-origin: 100% 0;
  left: 0;
  border-radius: 4px 0 0 4px;
  border-color: black;
  background-image: linear-gradient(to left, rgba(0, 0, 0, .12) 0%, rgba(0, 0, 0, 0) 10%);
}

.book .book-page.flipped:nth-child(odd) {
  pointer-events: none;
  transform: rotateY(-180deg);
}

.book .book-page.flipped:nth-child(even) {
  pointer-events: all;
  transform: rotateY(0deg);
}

*,
* :before,
*:after {
  box-sizing: border-box;
  backface-visibility: visible;
}

.book-page:nth-child(odd) {
  background-position: right top;
}