$ikharic_font:"iokharic";
$height_of_navbar: 56px;
$debug_container_width: 300px;
$content_max_width: calc(100vw - $debug_container_width);
$inner_height: 100%;


$bg_color_light: rgb(230, 230, 230);
$text_color_light: rgb(25, 25, 25);
$input_bg_color_light: $bg_color_light;
$input_text_color_light: $text_color_light;
$nav_bg_color_light: #aaa;
$bg_container_light: rgb(3, 218, 68);

$bg_color_dark: rgb(30, 30, 30);
$text_color_dark: rgb(221, 221, 221);
$input_bg_color_dark: $bg_color_dark;
$input_text_color_dark: $text_color_dark;
$nav_bg_color_dark: #aaa;
$bg_container_dark: rgb(0, 50, 189);

$text_shadow_color_pwd_1: rgba(0, 0, 0, 0.5);
$text_shadow_color_pwd_2: rgba(0, 0, 0, 0.5);
$text_shadow_color_uid_1: rgba(0, 0, 0, 0.5);
$text_shadow_color_uid_2: rgba(0, 0, 0, 0.5);

* {
  box-sizing: border-box;
  user-select: none;
}

// GENERAL HTML ELEMENT
html,
body,
#main {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

// #main::after {
//   content: "";
//   position: absolute;
//   top: 0px;
//   left: calc(50vw - 1px);
//   width: 1px;
//   height: 100vh;
//   background-color: rgba(255, 0, 0, 0.5);
//   z-index: 999;
// }

// #main::before {
//   content: "";
//   position: absolute;
//   top: calc(50vh - 1px);
//   left: 0px;
//   width: 100vw;
//   height: 1px;
//   background-color: rgba(255, 0, 0, 0.5);
//   z-index: 999;
// }

nav {
  background-color: $nav_bg_color_light !important;
  z-index: 9999;
}

h1 {
  font-size: 2rem !important;
}

button,
input {
  border-radius: 0px !important;
  border: 0px solid black !important;
  font-weight: 600 !important;
}

.page {
  overflow: hidden;
  position: absolute;
  top: 0px;
}

.loading::after {
  content: "LOADING...";
  color: white;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 1);
}

.light-theme {
  background-color: $bg_color_light !important;
  color: $text_color_light;
}

.light-theme input {
  background-color: $input_bg_color_light !important;
  color: $input_text_color_light !important;
}

.light-theme button {

  color: $bg_color_dark !important;
}

.dark-theme {
  background-color: $bg_color_dark !important;
  color: rgb(201, 201, 201);
}

.screen-cover {
  height: $inner_height;
}

@font-face {
  font-family:'iokharic';
  src:local('iokharic'),url(../iokharic_bold.otf) format('woff');
}

// DEBUG STYLING
.debug-container {
  border-right: 1px solid black;
  height: $inner_height;
  overflow-y: scroll;
  width: $debug_container_width;
}

.debug-window {
  width: 100%;
  height: 50vh;
  border-bottom: 1px solid black;
}

// LOGIN STYLING
.light-theme .login-form {
  max-width: 350px;
  background-color: $bg_container_light;
}

.dark-theme .login-form {
  max-width: 350px;
  background-color: $bg_container_dark;
}

.login-link {
  display: inline-block !important;
}

.login-link::before {
  content: "\00a0";
}

.login-link-text {
  display: inline-block;
}

.uid-error-tooltip>.tooltip-inner {
  background-color: rgba($color: #ff0000, $alpha: .9);
  color: rgb(255, 255, 255);
  border: 1px solid #062e56;
}

.uid-error-tooltip>.tooltip-arrow {
  border-top: 5px solid #062e56;
}

.tooltip-arrow {
  border-top: 0px !important;
}

/*
BOOK TABLES
*/

table.secondary-stats {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
  border: 1px solid black;
  font-size: 0.8rem;
}

table.secondary-stats td {
  border: 1px solid black;
  padding: 5px;
  width: 10%;
  text-align: center;
}

table.secondary-stats td:nth-child(3n+1) {
  width: 30%;
  text-align: left;
}

/******************************
EZTCSAKIDESZARTAMJAVÃTSD!
******************************/

div > .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 10;
}

/* Show the tooltip text when you mouse over the tooltip container */
div:hover > .tooltiptext {
  visibility: visible;
}

table.hm-stat-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
  border: 1px solid black;
  font-size: 0.8rem;
}

table.hm-stat-table td {
  border: 1px solid black;
  padding: 3px;
  width: 10%;
  text-align: center;
  font-size: 1.5rem;
}

table.hm-stat-table td img {
  height: 40px;
}

table.main-stat-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
  border: 1px solid black;
  font-size: 0.8rem;
}

table.main-stat-table td {
  border: 1px solid black;
  padding: 3px;
  text-align: center;
}

table.main-stat-table td img {
  height: 20px;
}

/*
SLIDESHOW
*/

.main {
  background-color: #e60073;
  width: 450px;
  height: 600px;
  margin: auto 40px;
}

.navigation-arrow {
  position: absolute;
  top: 0;
  width: 0px;
  height: 100vh;
  box-shadow: 0 0 90px 90px rgba(150, 150, 150, 0.9);
  z-index: 100;
  transform: opacity 0.2s ease-in-out;
}

.hidden .navigation-arrow {
  opacity: 0;
  pointer-events: none;
}

.navigation-arrow.animating svg{
  // color: rgba(172, 172, 172, 0.8);
  // transition: color 0s ease-in-out;
}

.navigation-arrow-left {
  left: 0;
}

.navigation-arrow-right {
  right: 0;
}

.navigation-arrow > svg {
  height: 150px;
  width: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(28, 28, 28, 0.4);
  transition: color 0.2s ease-in-out;
}

.navigation-arrow-left > svg {
  left: -40px;
}

.navigation-arrow-right > svg {
  right: -40px;
}


.navigation-arrow-placeholder {
  position: absolute;
  top: 0;
  width: 90px;
  height: 100vh;
  cursor: pointer;
  z-index: 100;
}

.navigation-arrow-placeholder-left {
  left: 0;
}

.navigation-arrow-placeholder-right {
  right: 0;
}

.navigation-arrow:hover svg {
  color: rgba(172, 172, 172, 0.8);
  filter: drop-shadow(0 0 10px rgba(197, 197, 197, 0.8));
}

/*
NOT IN USE
glowing effect for input buttons
*/
.resizable-content {
  min-height: 30px;
  min-width: 30px;
  resize: both;
  overflow: auto;
  max-height: fit-content;
  max-width: fit-content;
}

.input-field {
  position: absolute;
  top: 50%;
  background-color: transparent;
  font-size: 6rem;
  user-select: none;
  font-family:$ikharic_font;
  text-align: center;
}

.input-field-submit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input-field-btn {
  color: rgba(255, 255, 255, .4);
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.input-field-btn.uid {
  animation: glow-uid 1s ease-in-out infinite alternate;
}

.input-field-btn.pwd {
  animation: glow-pwd 1s ease-in-out infinite alternate;
}

.input-field-btn:hover {
  color: rgba(255, 255, 255, 1);
}

.input-field-btn.selected {
  color: rgba(255, 255, 255, 1);
}

.input-field-submit {
  color: rgba(255, 255, 255, .2);
  animation: glow-submit 1s ease-in-out infinite alternate;
  transition: color 0.2s ease-in-out;
  cursor: pointer;
}

.input-field-submit.active {
  color: rgba(255, 255, 255, 1);
}

@keyframes glow-pwd {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #3200e6, 0 0 40px #3200e6, 0 0 50px #3200e6, 0 0 60px #3200e6, 0 0 70px #3200e6;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #5832ff, 0 0 40px #5832ff, 0 0 50px #5832ff, 0 0 60px #5832ff, 0 0 70px #5832ff, 0 0 80px #5832ff;
  }
}

@keyframes glow-uid {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ffaa00, 0 0 40px #ffaa00, 0 0 50px #ffaa00, 0 0 60px #ffaa00, 0 0 70px #ffaa00;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #fc4416, 0 0 40px #fc4416, 0 0 50px #fc4416, 0 0 60px #fc4416, 0 0 70px #fc4416, 0 0 80px #fc4416;
  }
}

@keyframes glow-submit {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #e5eaff, 0 0 40px #e5eaff, 0 0 50px #e5eaff, 0 0 60px #e5eaff, 0 0 70px #e5eaff, 0 0 80px #e5eaff;
  }
}


/*
* LOADING
*/

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #000;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}

/**/